.shopItemDetails {
    width: 100vw;
    padding: 4vw 15vw 0vw;
}
.itemDetails {
    width: 75vw;
    display: flex;   
    flex-direction: row;
    align-content: center;
    background-color: #fff;
    margin-bottom: 4vw;
    padding: 1.5vw;
}
.leftSideItem {
    display: flex;
    flex-direction: column;
}
.itemDetailPic {
    width: 30vw;
}
.rightSideItem {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
.itemDetails .itemType {
    color: #00a33d;
    font-size: 1.6vw;
    font-weight: 400;
    text-align: left;
}
.itemDetails .itemDetail {
    color: #00a33d;
    font-size: 1.6vw;
    font-weight: 400;
    text-align: left;
}
.itemDetails .itemPrice {
    color: #00a33d;
    font-size: 1.6vw;
    font-weight: 700;
    text-align: left;
}