.noUnderlineLink {
    text-decoration: none;
    color: #00a33d;
    font-size: 2vw;
    font-weight: 400;
}
.shopItemDetails {
    width: 100vw;
    padding: 4vw 15vw;
}
.itemDetailsBox {
    width: 70vw;
    display: flex;   
    flex-direction: row;
    align-content: center;
    background-color: #fff;
    margin: 4vw 0vw 6vw;
    padding: 3.5vw;
}
.leftSideItem {
    display: flex;
    flex-direction: column;
}
.itemDetailPic {
    width: 30vw;
}
.rightSideItem {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    width: 30vw;
}
.itemNameHead {
    color: #00a33d;
    font-size: 2vw;
    font-weight: 700;
    text-align: left;
}
.itemDetailHeader {
    color: #00a33d;
    font-size: 1.4vw;
    font-weight: 300;
    text-align: left;
    margin-top: 1vw;
}
.itemDetail {
    color: #00a33d;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: left;
}
.add2Cart {
    background-color:#00a33d;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    width: 16vw;
    height: 3vw;
    border-radius: 3vw;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 2vw 0vw 1vw;
}
.outOfStock {
    background-color:#d2fcdc;
    color:#00a33d;
    font-size: 2.2vw;
    font-weight: 700;
    text-align: center;
    width: 16vw;
    height: 3vw;
    border-radius: 3vw;
    text-decoration: none;
    border: none;
    margin: 2vw 0vw 1vw;
}
.itemContactButton {
    background-color: #ee83b5;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    width: 16vw;
    height: 3vw;
    border-radius: 3vw;
    text-decoration: none;
    border: none;
    margin: 2vw 0vw;
    outline: none;
}

