.appHeader {
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-flow: row;
    position: relative;
}
.logoLeft {
    width: 11.583vw;
    margin: 3.333vw 1.667vw 2vw 3.333vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.circleLogo {
    width: 11.583vw;
    margin-bottom: 0.5vw;
}
.shopOwnerTitle {
    color: #ee83b5;
    font-size: 1.4vw;  
    font-weight: 600; 
}
.shopOwnerName {
    color: #ee83b5;
    font-size: 1.4vw;  
    font-weight: 400;
    margin-bottom: 0.75vw; 
}
.contactButton {
    width: 2.8vw;
}
.headerLeftSide {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 3.333vw 1.667vw 1vw 0vw;
}
.textLogo {
    width: 18.917vw;
    margin-bottom: 1vw;
    font-weight: 400;
}
.locationLine {
    display: flex;
    flex-flow: wrap row;
    align-items: baseline;
    margin-bottom: 1vw;
}
.mapMarker {
    width: 1.094vw;
    margin-right: 0.75vw;
}
.cityState {
    color: #ee83b5;
    font-size: 1.8vw;
    font-weight: 400;
}
.salesLine {
    display: flex;
    flex-flow: wrap row;
    align-items: baseline;
    margin-bottom: 1vw;
}
.saleNumber {
    color: #ee83b5;
    font-size: 1.8vw;
    font-weight: 400;
}
.starsLine {
    display: flex;
    flex-flow: wrap row;
    align-items: baseline;
    margin-bottom: 1vw;
}
.averageStarRating {
    width: 8.879vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.486vw;
    font-weight: 400;
    margin-right: 0.75vw;
}
.starEmpty {
    width: 1.384vw;
}
.totalReviewsTally {
    color:#ee83b5;
    font-size: 1.8vw;   
    font-weight: 400;
}
.faveShop {
    display: flex;
    flex-flow: wrap row;
    align-items: baseline;
}
.faveShopOpenHeart {
    width: 1.723vw;
    margin-right: 0.75vw;
}
.faveShopTally {
    color:#ee83b5;
    font-size: 1.8vw;  
    font-weight: 400; 
}
.headerRightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 11.183vw;
    height: 5.71vw;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-color: #d2fcdc;
    top: 15.62vw;
    left: 51.65vw;
    position: relative;
}
.noUnderlineLink {
    text-decoration: none;
}
.countInCart {
    color: #ee83b5;
    font-size: 2.2vw;  
    font-weight: 400; 
    margin-top: 1.4vw;
    margin-left: 2.4vw;
}
.shopCart {
    width: 4.043vw;
    position: absolute;
    top: 1.35vw;
    right: 1vw;
}