.appHeader {
    width: 100vw;
    height: 25vw;
    background-color: #fff;

}
.circleLogo {
    width: 11.583vw;
    margin: 3.333vw;
    margin-right: 1.667vw;
}
.textLogo {
    width: 18.917vw;
    position: absolute;
    top: 3.333vw;
}
.locationLine {
    display: inline-block;
}
.mapMarker {
    width: 1.094vw;
    position: absolute;
    top: 10.208vw;
}
.cityState {
    color: #f4aed3;
    position: absolute;
    top: 10vw;
    left: 18.5vw;
    font-size: 1.8vw;
}
.salesStarsLine {
    display: inline-block;
}
.saleNumber {
    position: absolute;
    top: 13.583vw;
    color: #f4aed3;
    font-size: 1.8vw;
}
.averageStarRating {
    position: absolute;
    top: 17.35vw;
    width: 8.879vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.486vw;
}
.starEmpty {
    width: 1.384vw;
}
.totalReviewsTally {
    color: #f4aed3;
    font-size: 1.8vw;   
    position: absolute;
    top: 16.9vw;
    left: 27vw;
}
.faveShop {
    display: inline-block;
}
.faveShopOpenHeart {
    width: 1.723vw;
    position: absolute;
    top: 21vw;
}
.faveShopTally {
    color: #f4aed3;
    font-size: 1.8vw;   
    position: absolute;
    top: 20.7vw;
    left: 19.5vw;
}
.emptyCartTab {
    width: 8.183vw;
    position: absolute;
    top: 16.9vw;
    right: 0vw;
}
.shopCart {
    width: 4.043vw;
    position: absolute;
    top: 18.3vw;
    right: 1vw;
}