.reviewSection {
    width: 70vw;
    height: auto;
    background-color: #fff;
    color: #00a33d;
    margin: 2vw auto 6vw;
    padding-bottom: 1vw;
}
.reviewBox {
    display: flex;
    margin: 2vw 4vw;
}
.reviewHeader {
    font-size: 2.5vw;
    font-weight: 600;
    color: #00a33d;
    margin: 2vw 4vw -0.6vw;
}
.dividerLine {
    background-color: #ffe2f0;
    width: 70vw;
    height: 1vw;
}
.reviewStars {
    font-size: 2vw;
    font-weight: 500;
    flex-direction: row;
}
.reviewText {
    font-size: 2vw;
    font-weight: 400;
    flex-direction: row;
    margin-left: 4vw;
}